.row {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  .newscard { 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: rgba(134, 131, 131, 0.308);
    width: 27%;
    height: 40rem;
    border-radius: 15px;
    margin: 1rem auto;
    color: rgb(32, 11, 32);
    overflow: hidden;
    transition: 0.5s;

    &:hover {
      background-color: #e6326593;
      cursor: pointer;
      transition: 0.5s;
    }

    .newscard-top {
      margin: 1rem auto;
      border-radius: 10px;
      height: 10rem;
      width: 100%;
      overflow: hidden;

      .artist-picture {
        margin-top: 2.5rem;
        border-radius: 10px;
        transform: scale(2.2);

      }
    }

    .newscard-bottom {
      background-color: #FFF;
      border-radius: 10px;
      padding: 1rem;
      height: 25rem;
      width: 100%;

      h1 {
        font-size: 18px;
        font-weight: 600;
      }

      h3 {
        padding: 1rem;
        font-style: italic;
        font-size: 18px;
        font-weight: 500;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
      }

      .date {
        margin-top: 2rem;
        height: 3rem;
        text-align: left;
        .date-titre {
          font-size: 18px;
          font-weight: 600;
          display: block;
        }

        .date-value {
          margin-top: 5px;
          display: block;
        }
      }

      .source {
        margin-top: 2rem;
        font-style: italic;
        display: block;
text-align: left;
      }
    }
    


  }
}

@media (max-width: 970px) {
  .row {
  
    .newscard { 
      width: 39%;
      max-height: 38rem;
      overflow: hidden;


    .newscard-top {


      .artist-picture {


      }
    }

    .newscard-bottom {
      height: rem;

      h1 {
        font-size: 16px;
        font-weight: 500;
      }

      h3 {
        padding: 0.5rem;
        font-style: italic;
        font-size: 16px;
        font-weight: 400;
      }

      p {
        font-size: 12px;
        font-weight: 400;
      }

      .date {
        margin-top: 2rem;
        height: 3rem;
        text-align: left;
        .date-titre {
          font-size: 14px;
        }

        .date-value {
        font-size: 12px;
        }
      }

      .source {
        margin: 0;
        font-size: 14px;
      }
    }
  
    }
  }
}


@media (max-width: 425px) {
  .row {
  
    .newscard { 
      width: 80%;
      height: 32rem;
      padding: 1rem;
      margin: 1rem auto;

    .newscard-top {

    }

    .newscard-bottom {
      height: 18rem;

      h1 {
        font-size: 16px;
        font-weight: 500;
      }

      h3 {
        padding: 0.5rem;
        font-size: 16px;
        font-weight: 400;
      }

      p {
        font-size: 12px;
        font-weight: 400;
      }
    }
  
    }
  }
}


@media (max-width: 320px) {
  .row {
  
    .newscard { 

    .newscard-bottom {

      h1 {
        font-size: 14px;
      }

      h3 {
        font-size: 14px;

      }

      p {
        font-size: 10px;
      }
    }
  
    }
  }
}

